img {
  width: 300px;
  height: 400px;
}

#characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#heading,
form {
  text-align: center;
}
ul {
  list-style: none;
}
